@font-face {
    font-family: 'Bad Script';
    font-weight: 400;
    src: 
        url('../fonts/bad-script-v16-latin_cyrillic-regular.woff2') format('woff2'),
        url('../fonts/bad-script-v16-latin_cyrillic-regular.woff') format('woff'); 
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 400;
    src: 
        url('../fonts/open-sans-v29-latin_cyrillic-regular.woff2') format('woff2'),
        url('../fonts/open-sans-v29-latin_cyrillic-regular.woff') format('woff'),
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 700;
    src: 
        url('../fonts/open-sans-v29-latin_cyrillic-700.woff2') format('woff2'),
        url('../fonts/open-sans-v29-latin_cyrillic-700.woff') format('woff'),
}

html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans';
    background-color: #FFF1F8;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.women {
    background-color: #FFF1F8;
}

.men {
    background-color: #EFF9FE;
}

button {
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    max-width: 1300px;
    padding: 0 20px;
    margin: 0 auto;
}

.header {
    padding: 28px 0;
    background: #FFFFFF;
    box-shadow: 0px 1px 20px rgba(72, 3, 38, 0.07);
    position: relative;
    z-index: 1;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.header__button-change {
    width: 300px;
    height: 65px;
    border-radius: 30px;
    border: none;
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
    margin-right: 30px;
}

.women .header__button-change {
    background-color: #C300C7;
}

.men .header__button-change {
    background-color: #1178B2;
}

.header__button-change:last-child {
    margin-right: 0;
}

.header__button-gender {
    width: 60px;
    height: 60px;
    box-shadow: 0px 0px 24px 4px rgba(0, 0, 0, 0.04);
    border-radius: 10px;
    background-color: #ffffff;
    border: 1px solid transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 36px;
    margin-right: 20px;
}


.header__button-gender:last-child {
    margin-right: 0;
}

.header__button-gender_men {
    background-image: url(../img/men.svg);
}

.header__button-gender_women {
    background-image: url(../img/women.svg);
}

.men .header__button-gender_men {
    border-color: #1178B2;
}

.women .header__button-gender_women {
    border-color: #C300C7;
}

.main {
    flex-grow: 1;
    padding: 32px 0 15px;
    display: flex;
    align-items: center;
}

.main__container {
    display: flex;
}

.card__wrapper {
    position: relative;
    margin: auto;
    display: flex;
    box-shadow: 0px 0px 50px rgba(96, 4, 50, 0.23);
    font-size: 3px;
}

.card__text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: max(3em, min(calc(100vw * 3 / 140), 6em));
    font-family: 'Bad Script';
    line-height: 1.6;
}

.woomen .card__text {
    font-family: 'Bad Script';
}

.men .card__text {
    font-family: 'Open Sans';
    font-weight: 700;
}

.footer {
    padding: 17px 0;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__text-wrapper {
    display: flex;
    flex-direction: column;
    line-height: 1.6;
}

.footer__social {
    display: flex;
    gap: 16px;
}

.men .social__icon {
    fill: #5273C8;
}

.women .social__icon {
    fill: #C300C7;
}

@media (max-width: 880px) {
    .container {
        padding: 0 10px;
    }

    .header__button-wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    .header__button-change {
        width: 220px;
        height: 45px;
        font-size: 14px;
        margin-right: 0;
    }

    .header__button-gender {
        width: 40px;
        height: 40px;
        background-size: 30px;
        margin-right: 0;
    }
}

@media (max-width: 480px) {
    .footer__container {
        flex-direction: column;
        gap: 20px;
    }

    .footer__text-wrapper {
        order: 1;
    }
}